* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(250, 249, 231);

    display: grid;
    place-content: center;
    height: 100vh;
}

.primary {
    --bg-adicionar: #a0d1ff;
    --bg-hover: #bfdefa;
}

button {
    background-color: var(--bg-adicionar);
    font-family: MavenPro;
    border: 0;
    color: white;
    padding: 24px, 24px;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    border-radius: 24px;
}

button:hover {
background-color: var(--bg-hover);
}

button:focus {
    outline: 2px solid rgb(78, 169, 255);
}